In [1]:
import pandas as pd

In [3]:
import pyspark
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

In [4]:
 # local
df_vazoes = spark.read.csv("vazoes.csv",header=True, sep=";", inferSchema=True)
 # Cluster 
#df = spark.read.csv("hdfs://elephant:8020/user/labdata/vazoes.csv",header=True, sep=";", inferSchema=True)

In [8]:
vazao_melt = pd.melt(df, id_vars=['Data'], value_vars=['Vazao01', 'Vazao02', 'Vazao03',
       'Vazao04', 'Vazao05', 'Vazao06', 'Vazao07', 'Vazao08', 'Vazao09',
       'Vazao10', 'Vazao11', 'Vazao12', 'Vazao13', 'Vazao14', 'Vazao15',
       'Vazao16', 'Vazao17', 'Vazao18', 'Vazao19', 'Vazao20', 'Vazao21',
       'Vazao22', 'Vazao23', 'Vazao24', 'Vazao25', 'Vazao26', 'Vazao27',
       'Vazao28', 'Vazao29', 'Vazao30', 'Vazao31'])

In [9]:
vazao_melt['Data'] = pd.to_datetime(vazao_melt['Data'])

In [10]:
vazao_melt

            Data variable  value
0     1937-01-04  Vazao01   None
1     1937-01-05  Vazao01  2,808
2     1937-01-06  Vazao01  3,063
3     1937-01-07  Vazao01  1,637
4     1937-01-08  Vazao01  1,273
5     1937-01-09  Vazao01  1,008
6     1937-01-10  Vazao01  1,433
7     1937-01-11  Vazao01  1,182
8     1937-01-12  Vazao01  1,182
9     1938-01-01  Vazao01  26,93
10    1938-01-02  Vazao01  2,909
11    1938-01-03  Vazao01  4,323
12    1938-01-04  Vazao01   2,96
13    1938-01-05  Vazao01  2,181
14    1938-01-06  Vazao01  1,954
15    1938-01-07  Vazao01  1,534
16    1938-01-08  Vazao01  1,273
17    1938-01-09  Vazao01  1,065
18    1938-01-10  Vazao01  1,008
19    1938-01-11  Vazao01  5,465
20    1938-01-12  Vazao01  5,972
21    1939-01-01  Vazao01  7,163
22    1939-01-02  Vazao01  9,881
23    1939-01-03  Vazao01  5,341
24    1939-01-04  Vazao01  4,323
25    1939-01-05  Vazao01  2,044
26    1939-01-06  Vazao01  1,909
27    1939-01-07  Vazao01  1,637
28    1939-01-08  Vazao01  1,534
29    1939-01-09  Vazao01  1,273
...          ...      ...    ...
28893 2012-01-07  Vazao31  1,129
28894 2012-01-08  Vazao31  0,885
28895 2012-01-09  Vazao31   None
28896 2012-01-10  Vazao31  0,795
28897 2012-01-11  Vazao31   None
28898 2012-01-12  Vazao31  3,397
28899 2013-01-01  Vazao31  4,212
28900 2013-01-02  Vazao31   None
28901 2013-01-03  Vazao31  3,831
28902 2013-01-04  Vazao31   None
28903 2013-01-05  Vazao31  3,539
28904 2013-01-06  Vazao31   None
28905 2013-01-07  Vazao31  2,183
28906 2013-01-08  Vazao31  1,708
28907 2013-01-09  Vazao31   None
28908 2013-01-10  Vazao31  1,583
28909 2013-01-11  Vazao31   None
28910 2013-01-12  Vazao31  4,449
28911 2014-01-01  Vazao31  1,583
28912 2014-01-02  Vazao31   None
28913 2014-01-03  Vazao31  1,291
28914 2014-01-04  Vazao31   None
28915 2014-01-05  Vazao31  1,078
28916 2014-01-06  Vazao31   None
28917 2014-01-07  Vazao31  0,839
28918 2014-01-08  Vazao31  0,627
28919 2014-01-09  Vazao31   None
28920 2014-01-10  Vazao31    0,5
28921 2014-01-11  Vazao31   None
28922 2014-01-12  Vazao31  0,885

[28923 rows x 3 columns]